body {

    color: red;
    text-align: left;
    font-family: "Arial";
}

#cabecera {

    background: blue;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0, 0.5);
    color: white;
    font-weight: blod;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline{

    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container {

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid green;
    margin:  0  auto; 
}

#container h1 {

    font-size: 20px;
}

