body {

    color: block;
    text-align: left;
    font-family: "Arial";
}

#container {

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid green;
    margin:  0  auto; 
}

#container h1 {

    font-size: 20px;
}